
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}
.header{
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;

}
.header ul{
    display: flex;
    gap: 60px;
    font-size: 30px;
    list-style: none;
}
.loginBtn{
    border: none;
    border-radius: 8px;
    padding: 14px 50px;
    font-size: 28px;
    color: white;
    background-color: #204E51;
}
.signUpBtn{
    border: 2px #204E51 solid;
    border-radius: 8px;
    padding: 12px 30px;
    font-size: 28px;
    color: #204E51;
    margin-left: 10px;
}

.hero{
    height: 700px;
    background-color: #204E51;
    color: white;
    background-repeat: no-repeat;
    background-size: 100% 700px;
    background-image: linear-gradient(rgba(0,0,0,0.6),
    rgba(0,0,0,0.5)),
    url("https://images.pexels.com/photos/205410/pexels-photo-205410.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    text-align: center;
    

}


.hero h1{
    padding-top: 100px;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 10px;
    margin: 10px;
}
.hero p{
    margin-bottom: 40px;


}

#learnBtn{
    background-color: transparent;
    color: white;
    border: 2px white solid;
}

.passion-left, .passion-right{
    width: 500px;

}

.passion-parent{
    margin-top: 130px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
}

.passion-right img{

    width: 500px;
    height: 530px;
    border-radius: 8px;
    position: relative;
}

.passion-left h1{
    font-size: 45px;
}
.passion-left p{
    margin-top: 10px;
    margin-bottom: 20px;
}

#Get{
    margin-top: 20px;
}

.relative{
    width: 200px;
    height: 55px;
    background-color: white;
    position: absolute;
    left: 1000px;
    bottom: -730px;
    border-radius: 15px;

}

.relative h1{
    padding: 12px;
}




.Service1 i{
    padding-top: 100px;
    

}

.Service1{
    border-radius: 22px;
    text-align: center;
    background-color: red;
    margin: 10px;
    width: 280px;
    height: 280px;

}

.Service-parent{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
    margin-top: 30px;
}

.Service{
    text-align: center;

}

.product-parent{
    margin: 30px 40px;
    display: grid;
    grid-template-columns: repeat(4, 280px);
    column-gap: 30px;

}


.product1{
    border-radius: 22px;
    width: 100%;
    height: 500px;
    margin: 18px;
    background-color: lightblue;
}


.product1 img{
    margin: 30px 50px;
    width: 150px;
    border-radius: 18px;
    height: 150px;

}

.product1 h1{
    padding: 20px;
    font-size: 40px;
}
.product{
    text-align: center;
}

.product1 p{
    padding: 20px;
    line-height: 25px;
}



.sustain{
    padding: 30px;
    height: 470px;
    background-image: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    
    url("https://images.pexels.com/photos/205410/pexels-photo-205410.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: 100% 470px;
    color: white;
}

.sustain h1{

    margin-bottom: 50px;
    font-size: 80px;
}

.benefit-left{
    margin-top: 100px;
    width: 490px;
}

.benefit-left h1{
    font-size: 70px;
}

.benefit-parent{
    display: flex;
    justify-content: space-around;
}

.benefit-right{
    border-radius: 20px;
    height: 650px;
    width: 600px;
    background-color: #204E51;
    color: white;
}

.benefit-left P{
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 25px;

}

.benefit-left span{
    color: blue;
}





.icon-parent{
    display: flex;
    margin-left: 50px;
    margin-top: 30px;
    align-items: center;
    gap: 60px;
}

.icon-parent i{
    font-size: 60px;
    color: yellow;


}

.icon-parent h1{
    margin-top: 20px;
    font-size: 50px;
}

.ourblog{

    text-align: center;
}

.ourblog h1{
    margin: 15px -500px;
}







.review-parent{
  margin: 100px 8px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 100px 800px 100px;
}
 


.review-left{
    width: 80px;
    height: 80px;
    background-color: red;
    border-radius: 50%;

}

.review-center{
    border-radius: 12px;
    width: 800px;
    height: 350px;
    background-color: #204E51;
}






.review-right{
    width: 80px;
    height: 80px;
    background-color: blue;
    border-radius: 50%; 
    margin-left: 10px;

}


.review-right i{
 font-size: 70px;
 margin-top: 8px;
}

.review-left i{
    font-size: 70px;
 margin-top: 8px;
}

.comment-parent img{

    width: 200px;
    
    border-radius: 12px;

}

.comment-parent i{

    color: yellow;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 15px;


}


.comment-parent{

    display: flex;
    color: white;
    gap: 50px;
    margin: 50px;
}







.may{
    text-align: center;
    margin-top: 20px;
}






.mother{
    display: flex;
    justify-content: center;
     height: 300px;
     align-items: center;
     margin-top: 150px;
}
.child{
    width: 300px;
    height: 300px;
    margin: 10px;
}
.child img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    
    
}


.footer{
    background-color: #204E51;
    margin-top: 100px;
    height: 250px;
    
}


#menu-icon{
    display: none;
}


@media screen and (max-width: 600px){

    .header ul{
        display: none;
    }
    
    .btn{
        display: none;
    }
    

    #menu-icon{
        display: block;
        font-size: 40px;
    }

        .header h1{

            font-size: 24px;
        }


        .header{
            padding: 12px;
        }


        .hero h1{
            font-size: 30px;
        }

        #get-btn{
            margin-bottom: 20px;
            
        }

        .passion-parent{
            flex-direction: column;
            margin: 20px;
        }

        .passion-left, .passion-right{
            width: 300px;

        }

        .passion-right img{

            margin-top: 30px;
            width: 350px;
            height: 250px;
            
        }

        .passion-left h1{
            font-size: 30px;
        }

        .Service-parent{
            flex-direction: column;
            margin: 40px;
        }


        .Service1 p{
            color: white;
        }

        .product h1{
            font-size: 30px;
            margin-bottom: 10px;
        }


           .product-parent{
            grid-template-columns: 300px;
            margin: 30px;
           } 

           .sustain h1{
            font-size: 45px;
           }


           .benefit-parent{
            flex-direction: column;
           }
           
           .benefit-left h1{
            font-size: 40px;
            margin: 30px;
           }

           .benefit-left{
            width: 300px;
            margin: 30px;
           }
         
           .benefit-right{
            width: 320px;
            margin: 30px;
           }
        

           .review-left{
            width: 100%;
            height: 30px;

           }

           .review-right{
            width: 100%;
            height: 30px;
           }

           .review-center{
            width: 100%;
            height: 180px;
           }

           .comment-parent img{

            margin-top: 15px;
            width: 100px;
            height: 100px;
            border-radius: 4px;
           }


           .comment-parent i{
            font-size: 6px;
            padding: 0px;
            margin-top: 20px;
            margin-bottom: 0px;
           }

           .comment-parent h1{
            font-size: 10px;
           }

           .comment-parent{
            padding: 0px;
            margin: 4px;
            gap: 8px;
           }


           .review-parent{
            gap: 20px;
            justify-content: start;
            grid-template-columns: 30px 280px 30px;
           }


           .comment-parent p{
            font-size: 8px;
           }

           .review-left I{
            font-size: 25px;
           }
           .review-right I{
            font-size: 25px;
            margin-bottom: 20px;
           }






        
        
        }








